@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {

  font-family: var(--primary-font-family);

}

:root {
  --primary-color: #01bfbd;
  --primary-hover-color: #039b9a;
  --green-color: #039695;
  --primary-color-rgb: 1, 191, 189;
  --primary-font-family: "Source Sans Pro", sans-serif;
  --rboto-font-family: "Roboto", sans-serif;
  --payment-sip-color: #039695;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 40px 10%;
  background-color: #fff;
  height: 65px;
  box-shadow: 0 8px 6px -6px rgb(155, 148, 148);

}

.logo {
  margin-right: auto;
}

header a #span_logo_text {
  text-decoration: none;
  font-size: 30px;
  color: red;

}

header a img {
  width: 60px;
  border-radius: 50%;
  border: 1px solid rgb(208, 206, 206);

}

header .cta{
  text-decoration: none;
}

.nav__links {
  list-style: none;
  display: flex;

}

.nav__links a,
.cta,
.overlay__content a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  text-decoration: none;
}

.nav__links li {
  padding: 0px 20px;
  margin-top: 20px;

}

.nav__links li a {
  transition: all 0.3s ease 0s;
  color: #777a7b;
  font-size: 17px;

}

.nav__links li a:hover {
  color: var(--primary-color);

}

.cta {
  margin-left: 20px;
  padding: 9px 25px;
  background-color: #fff;
  color: var(--primary-color);
  border-color: rgba(0, 136, 169, 1);
  border: 2px solid var(--primary-color);
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.cta:hover {
  background-color: rgba(235, 238, 240, 0.8);
}

/* Mobile Nav */

/* .menu {
    display: none;
  } */

/* .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: #24252a;
    overflow-x: hidden;
    transition: all 0.5s ease 0s;
  } */

/* .overlay--active {
    width: 100%;
  } */

/* .overlay__content {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .overlay a {
    padding: 15px;
    font-size: 36px;
    display: block;
    transition: all 0.3s ease 0s;
  }
  
  .overlay a:hover,
  .overlay a:focus {
    color: #0088a9;
  }
  .overlay .close {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    color: #edf0f1;
    cursor: pointer;
  } */


/* <!------------------------- Intro banner section Section----------------------------------------> */



.title {
  position: absolute;
  width: 420px;
  margin-left: 100px;
  margin-top: 80px;
  font-size: 140px;
  color: transparent;
  background-image: linear-gradient(white, white);
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  background-position: -800px;
  animation: backcolor 7s both  1 ;
}

@keyframes backcolor {
  100% {
      background-position: 0;
  }

}

.main_banner_content {
  background-color: #6c8484;
  background-attachment: fixed;
  height: 689px;
  border: 2px solid rgb(228, 223, 223);
  margin-top: 5px;
}

.main_banner_content .heading_left {
  margin-left: 830px;
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 500px;
}

.main_banner_content .heading_left .heading {
  color: #fff;
  font-size: 23px;
  font-family: var(--rboto-font-family);
}

.main_banner_content .heading_left .sub_heading {
  color: #fff;
  width: 400px;
  font-size: 23px;
  font-family: var(--rboto-font-family);
}

.main_banner_content .heading_left .border_color {
  border: 2px solid #FEC003;
  margin-top: 5px;
}

.main_banner_content .heading_left .funding_news {
  color: #fff;
  font-family: var(--rboto-font-family);
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 5px;
}

.funding_news img {
  width: 130px;
  height: 130px;
  border-radius: 10px;
  border: 1px solid white;
}

.main_banner_content .heading_left .funding_news h1 {
  font-size: 14px;
  width: 300px;
}



/* //------------------------- About sports funding ----------------------------------------> */




.sports_funding_intro {
  /* border: 1px solid rgb(23, 0, 128); */
  margin-left: 230px;
  background-color: #F5F5F5;
 border: 1px solid rgb(219, 211, 211);
  margin-top: 100px;
  width: 1000px;
  border-radius: 5px;

}

#start_funding{
  box-shadow: 0 8px 6px -6px rgb(155, 148, 148);

}

.sports_funding_intro .mb-0 {
  margin-left: 100px;
  padding: 10px;
  color: rgb(30, 30, 31);
  font-size: 50px;
}

.sports_funding_intro .border_color_block {
  border: 2px solid #bd23b3;
  margin: 15px;
  margin-left: 430px;
  text-align: center;
  width: 150px;

}

.sports_funding_intro .mb-1 {
  color: #999;
  padding: 10px;

}

/* <!-------------------------About brief----------------------------------------> */

.half-half-image-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  background-color: #F5F5F5;

}

.specific_1 {
  width: 1200px;
  display: flex;
  justify-content: space-around;
  padding: 10px;
  margin: 30px;
}

.specific_1_about {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 560px;
}

.specific_1_about h6 {
  position: relative;
  bottom: 50px;
  color: #999;
}

.specific_1_img img {
  width: 400px;
  height: 400px;
}

/* <!------------------------- questions----------------------------------------> */

#fund_questions_div{
  background-color: #fff;
  border: none;
}
#fund_questions{
   margin-left: 220px;
}
/* <!-------------------------explain questions----------------------------------------> */


.explain_boxes_div_main{
  margin-top: 100px;
}
.explain_boxes_div{
  display: flex;
  justify-content: space-around;
  padding: 30px;
  background-color: #F5F5F5;
}
.explain_box{
 width: 230px;
 background-color: #F5F5F5;
 padding: 13px;
 height: 250px;
 display: flex;
 flex-direction: column;
 align-items: center;
 gap: 20px;
 box-shadow: 0 2px 11px 1px #e0dde0;
 border-radius: 10px;
 border: 1px solid rgb(21, 21, 21);

}

.explain_box:hover{
  cursor: pointer;
  background-color: #fff;
  transform: scaleY(1.05);
  transition: 0.3s;
}
.explain_box_img{
  width: 150px;
  background-color: var(--green-color);
  border-radius: 5px;
  border: 1px solid rgb(21, 21, 21);
}

.border_color_explain_box{
  border: 2px solid #FEC003;
  margin-top: 5px;
  width: 40px;
  margin-left: 2px;
}
#explain_spans{
   font-size: 20px;
   font-family: var(--rboto-font-family);
   font-weight: bold;
}

/* <!-------------------------why athelets need money----------------------------------------> */

.why_athelets_need_main_div{
  background-color: #FFFBED;
  margin-bottom: 30px;
  padding: 80px;
}
#athlets_need{
  margin-right: 230px;
  background-color: #fff;
  border: none;
  background-color: #FFFBED;
}
#fund_questions{
  font-size: 40px;
  margin-right: 200px;

}
#fund_questions_border{
  margin-left: 350px;
}

.row[why_athelets_need_main_div_explains]{
  background-color: #FFFBED;
  flex-wrap: wrap;
  padding: 40px;

}

.first_font{
  margin-left: 300px;
  margin-bottom:20px ;
}
.text-heading{
  color: #444;
  font-size: 17px;
  font-weight: bold;
  text-transform: capitalize;
  margin-left: 130px;
  width: 60%;
}

.text-desc{
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: rgba(0,0,0,.5);
  margin: 10px auto;
  width: 70%;
}
/* <!------------------------- footer ----------------------------------------> */


.footer{
  background-color: #2b5958 ;
  padding: 50px;
}
.row[last]{
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  color: #FFFBED;
}


.row[last] img{
  border-radius: 50%;
  width: 60px;
  margin-bottom: 20px;
}

.share-icons{
  border-top: 2px solid #2b5958;
 font-size: 30px;
 color: #fff;
}

.special_icons{
  color:white ;
  margin: 20px auto;
}

span[last]{
  font-size: 14px;
  color: #77cac8;
}

.reach-out{
  margin-bottom: 30px;
}
.last_para{
  text-align: center;
  color: #fff;
  padding: 15px;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 14px;
  line-height: 20px;
  border-top: 2px solid #3a9391;
}
