@import url(https://fonts.googleapis.com/css?family=Roboto:300);


body {
  font-family: roboto, sans-serif;
}

.body{
  background-image: url('../images/nike.jpg');
  background-color: rgba(68, 66, 66, 0.22);
  background-repeat: no-repeat;
  background-size: cover;
}

.login-page {
  width: 360px;
  padding: 8;
  margin: auto;
  margin-top: 200px;

}
.form {
  position: relative;
  z-index: 1;
  bottom: 10px;
  background:#FFFFFF;
  max-width: 360px;
  height: 300px;
  margin: auto  ;
  padding:  50px 30px ;
  text-align: center;
  border-radius: 10px;
  border: 1px solid rgb(196, 193, 193) ;
  
}
.form input {
  font-family: FontAwesome, "Roboto", sans-serif;
  background:  rgb(255, 255, 255);
  border: 1px solid #17a589;
  width: 300px;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  border-radius:10px;
  
}
.form button {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: .1em;
  background: #28b0b0;
  width: 100%;
  border: 0;
  border-radius:30px;
  margin: 0px 0px 8px;
  padding: 15px;
  color: #FFFFFF;
  cursor: pointer;
  transition:  0.3s;


}
.form button:hover,.form button:focus, #id {
  background: #148f77;
  box-shadow: 0 5px 10px rgba(178, 176, 173, 0.9);
  transform: translateY(-2px);
}
.form button:active {
  transform: translateY(1px);
}

.form #account_creation{
  text-decoration: none;
  color: white;
  font-weight: bold;
}

